@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  font-family: "Karla", sans-serif;
}

h3 {
  font-weight: 700;
}

.underlined {
  text-decoration: underline;
}

#textarea {
  resize: none;
}
